/* navigation */
.navigation {
  border: 1px solid;
  padding: 0;
  height: 50px;
}
.navigation-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.navigation-list-item {
  display: inline-block;
  width: 25%;
  text-align: center;
  outline: 1px solid #ccc;
  height: 50px;
  line-height: 50px;
  font-weight: 500;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: all 150ms;
}
.navigation-list-item:hover {
  background-color: #fff;
  color: #cc0000;
  box-shadow: 0px 0px 4px #282828; 
}
/* navigation */
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f7f7f7;
  width: 50%;
  height: 20%;
  z-index: 2;
  border: 1px solid #888;
  padding: 1em;
  font-size: 1.3em;
}
.modal-button {
  width: 90%;
  height: 80px;
  position: absolute;
  bottom: 1px;
  background-color: #f7f7f7;
  border: none;
  border-top: 1px solid #888;
  cursor: pointer;
  font-size: 1em;
}
/* success modal transitions */
.success-enter {
    opacity: 0.01;
    height: 0%;
    width: 0%;
    /* transform: scale(0.1);  */
  }
  
  .success-enter.success-enter-active {
    opacity: 1;
    height: 20%;
    width: 50%;
    /* transform: scale(1); */
    transition: all 500ms;
  }
  
  .success-leave {
    opacity: 1;
    height: 20%;
    width: 50%;
    /* transform: scale(1); */
  }
  
  .success-leave.success-leave-active {
    opacity: 0.01;
    height: 0%;
    width: 0%;
    /* transform: scale(0.1); */
    transition: all 500ms;
  }
  /* success modal transitions */

  /* page forward transitions */
  .pageForward-enter {
    opacity: 0.01;
    transform: translate3d(100%, 0, 0);
  }
  
  .pageForward-enter.pageForward-enter-active {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: all 500ms;
  }
  
  .pageForward-leave {
    opacity: 1;
    margin-left: 100%;
  }
  
  .pageForward-leave.pageForward-leave-active {
    opacity: 0;
    transition: all 500ms;
  }