body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-header {
  background-color: black;
  height: 80px;
  padding: 1em;
  color: #efefef;
}
.app-header h1 {
  font-weight: 100;
}
.field-header{
  margin: 0.3em 0 1em 0;
  font-weight: 400;
}
.image-field {
  border: 1px solid #d7d7d7;
  background-color: #f7f7f7;
  padding: 1em;
  width: 90%;
  margin: 1em auto;
  box-shadow: 0px 0px 4px #d7d7d7;
}
.image-field.edit-copy {
  width: 100%;
}
.category-header {
  margin: 0 0 1em 0;
  font-weight: 400;
  display: block;
}
.category-header.file-name {
  font-weight: 500;
}
.category-container {
  width: 14%;
  /* border: 1px solid; */
  height: 50px;
  margin: 0;
}
.category-checkbox {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  cursor: pointer;
}
.checkboxes-wrapper {
  margin: 1em 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: space-between;
}
.category-label {
  line-height: 35px;
  text-transform: capitalize;
  margin: 0 0.3em 0 0.3em;
}
.file-upload-input {
  cursor: pointer;
  border: 1px solid #d7d7d7;
  width: 99%;
  display: none; 
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 0.8em;
  width: 100px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.custom-file-upload:hover {
  box-shadow: 0px 0px 2px #888;
  background-color: #fff;
}

.remove-button {
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  outline: none;
  display: inline-block;
  padding: 0.8em;
  margin: 1em 0;
  width: 200px;
  font-weight: 500;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}
.remove-button:hover {
  box-shadow: 0px 0px 2px #888;
  background-color: #fff;
}
textarea {
  width: 100%;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  resize:vertical;
}

textarea:focus {
  outline: 3px solid #aabbdd;
}
.category-select {
  width: 25%;
  height: 30px;
  font-size: 1em;
  cursor: pointer;
}
.html-label {
  font-size: 1.5em;
  font-style: italic; 
  margin: 0.3em;
  display: inline;
}
.edit-copy-textarea {
  width: 100%;
}
.edit-copy-input {
  width: 100%;
  font-size: 1em;
  height: 30px;
  margin: auto;
}
.edit-copy-x-button {
  width: 80%;
  height: 100%;
  background-color: #fff;
  border: none;
  font-size: 2em;
  
  cursor: pointer;
}

.edit-copy-x-button:hover {
  background-color: #fff;
  box-shadow: 0px 0px 4px #282828;
}

input:focus {
  outline: 3px solid #aabbdd;
}

.submit-button-container {
  width: 90%;
  margin: auto;
  padding: 1em;
  text-align: center;
}

.submit-button {
  border: 1px solid #ccc;
  background-color: #282828;
  color: #fefefe;
  outline: none;
  display: inline-block;
  padding: 0.8em;
  margin: 1em auto;
  width: 200px;
  font-weight: 600;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.submit-button:hover {
  border: 1px solid transparent;
  box-shadow: 0px 0px 2px #282828;
  background-color: #444;
  
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
}
/* .delete-button {
  background: none;
  border: none;
  outline: 1px solid #d7d7d7;
  width: 100%; 
  height: 100%;
  font-size: 3em;
  color: #d7d7d7;
}

.delete-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #888888;
} */

/* media queries */
@media only screen and (max-width: 1070px) {

  .checkboxes-wrapper {
    justify-content: left;
  }
  .category-container {
    width: 20%;
  }
}

@media only screen and (max-width: 900px) {
  .category-container {
    width: 25%;
  }
  .category-checkbox {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

}

@media only screen and (max-width: 650px) {
  .category-container {
    width: 33%;
  }
  .category-checkbox {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }

}