body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #282828;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-header {
  background-color: black;
  height: 80px;
  padding: 1em;
  color: #efefef;
}
.app-header h1 {
  font-weight: 100;
}
.field-header{
  margin: 0.3em 0;
  font-weight: 400;
}
.image-field {
  border: 1px solid #d7d7d7;
  background-color: #f7f7f7;
  padding: 1em;
  width: 90%;
  margin: 1em auto;
  box-shadow: 0px 0px 4px #d7d7d7;
}
.category-header {
  margin: 0 0 1em 0;
  font-weight: 400;
  display: block;
}
.category-container {
  width: 14%;
  /* border: 1px solid; */
  height: 50px;
  margin: 0;
}
.category-checkbox {
  width: 25px;
  height: 25px;
  vertical-align: bottom;
  cursor: pointer;
}
.checkboxes-wrapper {
  margin: 1em 0;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7; 
  display: flex; 
  flex-wrap: wrap; 
  flex-direction: row; 
  justify-content: space-between;
}
.category-label {
  line-height: 35px;
  text-transform: capitalize;
  margin: 0 0.3em 0 0.3em;
}
.file-upload-input {
  padding: 0.5em;
  cursor: pointer;
  border: 1px solid #d7d7d7;
  width: 99%;
  display: block; 
}
textarea {
  width: 100%;
  border: 1px solid #d7d7d7;
  cursor: pointer;
  resize:vertical;
}
textarea:focus {
  outline: 3px solid #aabbdd;
}
input:focus {
  outline: 3px solid #aabbdd;
}
.delete-button {
  background: none;
  border: none;
  outline: 1px solid #d7d7d7;
  width: 100%; 
  height: 100%;
  font-size: 3em;
  color: #d7d7d7;
}

.delete-button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px #888888;
}

/* media queries */
@media only screen and (max-width: 1070px) {

  .checkboxes-wrapper {
    justify-content: left;
  }
  .category-container {
    width: 20%;
  }
}

@media only screen and (max-width: 900px) {
  .category-container {
    width: 25%;
  }
  .category-checkbox {
    width: 20px;
    height: 20px;
    vertical-align: middle;
  }

}

@media only screen and (max-width: 650px) {
  .category-container {
    width: 33%;
  }
  .category-checkbox {
    width: 15px;
    height: 15px;
    vertical-align: middle;
  }

}